.pagination {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 10px; /* Espaciado entre los botones */
  margin-top: 20px; /* Margen superior para separar de la tabla */
}

.pagination a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}

.pagination a.disabled {
  background-color: #e9ecef;
  color: #6c757d;
  pointer-events: none; /* Deshabilita el clic */
}
