@{
    ViewData["Title"] = "Inicio";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <!-- Panel de Usuarios -->
        @if(User.IsInRole("Administrador"))
        {
        <div class="col-md-5 mx-2">
            <a href="/Usuarios" style="text-decoration: none;">
                <div class="card text-center shadow-lg" style="background-color: var(--blanco); border: 1px solid var(--gris-claro); border-radius: 10px;">
                    <div class="card-body">
                        <i class="fa-solid fa-user fa-4x ic-color"></i> <!-- Ícono para Usuarios -->
                        <h3 class="mt-3" style="color: var(--gris-oscuro);">Usuarios</h3>
                    </div>
                </div>
            </a>
        </div>
        }
        <!-- Panel de Inmobiliaria -->
        <div class="col-md-5 mx-2">
            <a href="/Inquilino" style="text-decoration: none;">
                <div class="card text-center shadow-lg" style="background-color: var(--blanco); border: 1px solid var(--gris-claro); border-radius: 10px;">
                    <div class="card-body">
                        <i class="fa-solid fa-building fa-4x ic-color"></i>
                        <h3 class="mt-3" style="color: var(--gris-oscuro);">Inmobiliaria</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<style>
    .card {
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    .ic-color {
        color: var(--rojo-oscuro);
    }

    a:hover {
        text-decoration: none;
    }
</style>
